.container-fluid {
    margin-top: 4rem;
}

.list-group-item {
    margin-left: 23px;
    margin-top: 0;
}

.btn-menu {
    display: none;
    width: 163px;
    margin-bottom: 1rem;
}

.products {
    justify-content: space-between;
}

.menu {
    margin-right: 3rem;
}
/* @media (min-width: 720px) {
    .products {
        justify-content: space-between;
    }
} */

@media (max-width: 768px) {
    .products {
        /* display: block; */
        z-index: 1;
    }
    .product {
        margin: 0 auto;   

    }
    .menu {
        position: absolute;
        z-index: 2;
        width: 163px;
    }
    .btn-menu {
        display: block;
    }
    
}